<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Daily Activity - Divisi HR</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <style>
        .comment-cell {
            white-space: pre-wrap; /* Mempertahankan format baris baru di komentar */
        }
    </style>
</head>

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">DAILY ACTIVITY <sup></sup></div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
           <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Detail Divisi</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Divisi :</h6>
                        <a class="collapse-item" href="hr.html">Divisi HR</a>
                        <a class="collapse-item" href="teknisi.html">Divisi Teknisi</a>
                        <a class="collapse-item" href="admin.html">Divisi Admin</a>
                        <a class="collapse-item" href="marketing.html">Divisi Marketing</a>
                        <a class="collapse-item" href="cards.html">Divisi Tim IT</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Tools & Laporan</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Menu :</h6>
                        <a class="collapse-item" href="aktivitas.html">Input Aktivitas Harian</a>
                        <a class="collapse-item" href="hambatan.html">Daftar Hambatan</a>
                        <a class="collapse-item" href="status.html">Status Kehadiran Hari Ini</a>
                        <a class="collapse-item" href="monitoring.html">Monitoring SLA/Target</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <!-- <div class="sidebar-heading">
                Addons
            </div> -->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Konfigurasi & Master</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">PENGATURAN DATA DASAR:</h6>
                        <a class="collapse-item" href="manajemen_karyawan.html">Manajemen Karyawan</a>
                        <a class="collapse-item" href="manajemen_tugas.html">Manajemen Tugas/Proyek</a>
                        <a class="collapse-item" href="manajemen_master.html">Manajemen Master SLA</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">PENGATURAN SISTEM:</h6>
                        <a class="collapse-item" href="konfignotif.html">Konfigurasi Notifikasi</a>
                        <a class="collapse-item" href="logaktivitas.html">Log Aktivitas Sistem</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Analisis Tren</span>
                </a>
            </li> -->

            <!-- Nav Item - Tables -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li> -->

            <!-- Divider -->
            <!-- <hr class="sidebar-divider d-none d-md-block"> -->

            <!-- Sidebar Toggler (Sidebar) -->
            <!-- <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div> -->

            <!-- Sidebar Message -->
            <div class="sidebar-card d-none d-lg-flex">
                <!-- <img class="sidebar-card-illustration mb-2" src="img/logo =t.webp" alt="..."> -->
                <p class="text-center mb-2"><strong>"Sistem Pelaporan Aktivitas Harian (DAR).</strong> Jika menemukan bug atau kesulitan, hubungi Tim IT."</p>
                <a class="btn btn-success btn-sm" href="">Hubungi IT Support</a>
            </div>

        </ul>
            <!-- <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a> -->
            </li>
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <div class="container-fluid">

                    <!-- <h1 class="h3 mb-2 text-gray-800">Tabel Karyawan dengan CRUD dan Komentar Leader</h1> -->
                    <!-- <p class="mb-4">Simulasi operasi CRUD (Create, Read, Update, Delete) menggunakan **DataTables** dan **JavaScript/jQuery** di sisi klien.</p> -->

                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex justify-content-between align-items-center">
                            <h6 class="m-0 font-weight-bold text-primary">Data Karyawan</h6>
                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addEditModal" onclick="openAddModal()"><i class="fas fa-plus"></i> Tambah Data</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                            <th>Komentar Leader</th>
                                            <th>Aksi</th> </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                            <th>Komentar Leader</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="dataTableBody">
                                        </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            </div>
        </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addEditModal" tabindex="-1" role="dialog" aria-labelledby="addEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEditModalLabel">Tambah Data Karyawan</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="employeeForm">
                        <input type="hidden" id="employeeId" name="id">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="position">Position</label>
                            <input type="text" class="form-control" id="position" name="position" required>
                        </div>
                        <div class="form-group">
                            <label for="office">Office</label>
                            <input type="text" class="form-control" id="office" name="office" required>
                        </div>
                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" name="age" required>
                        </div>
                        <div class="form-group">
                            <label for="startDate">Start Date</label>
                            <input type="date" class="form-control" id="startDate" name="startDate" required>
                        </div>
                        <div class="form-group">
                            <label for="salary">Salary</label>
                            <input type="text" class="form-control" id="salary" name="salary" required pattern="[0-9,.]*" title="Format: 100,000 atau $100,000">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" id="saveEmployeeBtn" onclick="saveEmployee()">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="commentModalLabel">Komentar Leader untuk: <span id="employeeNameComment"></span></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="commentForm">
                        <input type="hidden" id="commentEmployeeId" name="id">
                        <div class="form-group">
                            <label for="leaderComment">Komentar Leader</label>
                            <textarea class="form-control" id="leaderComment" name="leaderComment" rows="5"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-success" onclick="saveComment()">Simpan Komentar</button>
                </div>
            </div>
        </div>
    </div>


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="js/sb-admin-2.min.js"></script>

    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <script>
        // Array untuk menyimpan data (simulasi database)
        let employees = [
            { id: 1, name: "Tiger Nixon", position: "System Architect", office: "Edinburgh", age: 61, startDate: "2011/04/25", salary: "$320,800", comment: "Performa sangat baik di Q1." },
            { id: 2, name: "Garrett Winters", position: "Accountant", office: "Tokyo", age: 63, startDate: "2011/07/25", salary: "$170,750", comment: "" },
            { id: 3, name: "Ashton Cox", position: "Junior Technical Author", office: "San Francisco", age: 66, startDate: "2009/01/12", salary: "$86,000", comment: "Perlu bimbingan lebih lanjut." },
            { id: 4, name: "Cedric Kelly", position: "Senior Javascript Developer", office: "Edinburgh", age: 22, startDate: "2012/03/29", salary: "$433,060", comment: "Potensi besar, target promosi di akhir tahun." },
            // Data lainnya bisa ditambahkan jika diperlukan
        ];
        let nextId = 5; // Untuk ID karyawan baru

        // Inisialisasi DataTable
        let dataTable;

        $(document).ready(function() {
            // Hapus DataTables yang sudah ada (jika ada)
            if ($.fn.DataTable.isDataTable('#dataTable')) {
                $('#dataTable').DataTable().destroy();
            }

            // Render data awal
            renderTable();
        });

        function renderTable() {
            const tableBody = $('#dataTableBody');
            tableBody.empty(); // Kosongkan tabel

            employees.forEach(emp => {
                const row = `
                    <tr data-id="${emp.id}">
                        <td>${emp.id}</td>
                        <td>${emp.name}</td>
                        <td>${emp.position}</td>
                        <td>${emp.office}</td>
                        <td>${emp.age}</td>
                        <td>${emp.startDate}</td>
                        <td>${emp.salary}</td>
                        <td class="comment-cell">${emp.comment || '-'}</td>
                        <td>
                            <button class="btn btn-sm btn-info" onclick="openEditModal(${emp.id})" title="Edit"><i class="fas fa-edit"></i></button>
                            <button class="btn btn-sm btn-success" onclick="openCommentModal(${emp.id})" title="Komentar Leader"><i class="fas fa-comment"></i></button>
                            <button class="btn btn-sm btn-danger" onclick="deleteEmployee(${emp.id})" title="Hapus"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                `;
                tableBody.append(row);
            });

            // Inisialisasi ulang DataTables
            if ($.fn.DataTable.isDataTable('#dataTable')) {
                $('#dataTable').DataTable().destroy();
            }
            dataTable = $('#dataTable').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": [7, 8] } // Kolom Komentar dan Aksi tidak dapat diurutkan
                ]
            });
        }

        // --- CRUD Operations (Simulated) ---

        // CREATE: Buka Modal Tambah Data
        function openAddModal() {
            $('#addEditModalLabel').text('Tambah Data Karyawan');
            $('#employeeForm')[0].reset(); // Reset form
            $('#employeeId').val(''); // Pastikan ID kosong untuk operasi tambah
        }

        // UPDATE (Data): Buka Modal Edit Data
        function openEditModal(id) {
            const employee = employees.find(e => e.id === id);
            if (employee) {
                $('#addEditModalLabel').text('Edit Data Karyawan');
                $('#employeeId').val(employee.id);
                $('#name').val(employee.name);
                $('#position').val(employee.position);
                $('#office').val(employee.office);
                $('#age').val(employee.age);
                $('#startDate').val(employee.startDate);
                $('#salary').val(employee.salary);
                $('#addEditModal').modal('show');
            }
        }

        // Save (CREATE/UPDATE)
        function saveEmployee() {
            const id = $('#employeeId').val();
            const name = $('#name').val();
            const position = $('#position').val();
            const office = $('#office').val();
            const age = $('#age').val();
            const startDate = $('#startDate').val();
            const salary = $('#salary').val();

            if (!name || !position || !office || !age || !startDate || !salary) {
                alert('Semua kolom harus diisi!');
                return;
            }

            if (id) {
                // UPDATE
                const index = employees.findIndex(e => e.id == id);
                if (index !== -1) {
                    employees[index].name = name;
                    employees[index].position = position;
                    employees[index].office = office;
                    employees[index].age = parseInt(age);
                    employees[index].startDate = startDate;
                    employees[index].salary = salary;
                }
            } else {
                // CREATE
                const newEmployee = {
                    id: nextId++,
                    name: name,
                    position: position,
                    office: office,
                    age: parseInt(age),
                    startDate: startDate,
                    salary: salary,
                    comment: ""
                };
                employees.push(newEmployee);
            }

            $('#addEditModal').modal('hide');
            renderTable(); // Render ulang tabel
            alert('Data berhasil disimpan!');
        }

        // DELETE
        function deleteEmployee(id) {
            if (confirm("Apakah Anda yakin ingin menghapus data ini?")) {
                employees = employees.filter(e => e.id !== id);
                renderTable(); // Render ulang tabel
                alert('Data berhasil dihapus!');
            }
        }

        // --- Leader Comment Feature ---

        // Buka Modal Komentar
        function openCommentModal(id) {
            const employee = employees.find(e => e.id === id);
            if (employee) {
                $('#commentEmployeeId').val(employee.id);
                $('#employeeNameComment').text(employee.name);
                $('#leaderComment').val(employee.comment);
                $('#commentModal').modal('show');
            }
        }

        // Simpan Komentar Leader
        function saveComment() {
            const id = $('#commentEmployeeId').val();
            const comment = $('#leaderComment').val();

            const index = employees.findIndex(e => e.id == id);
            if (index !== -1) {
                employees[index].comment = comment;
            }

            $('#commentModal').modal('hide');
            renderTable(); // Render ulang tabel untuk menampilkan komentar baru
            alert('Komentar Leader berhasil disimpan!');
        }

        // Fungsi untuk format tanggal (opsional, karena DataTables bisa sorting dengan format YYYY/MM/DD)
        function formatDate(dateString) {
            if (!dateString) return '';
            const parts = dateString.split('/');
            // Ubah format YYYY/MM/DD ke MM/DD/YYYY jika diperlukan, atau biarkan YYYY/MM/DD
            return parts.join('/');
        }
    </script>

</body>

</html>