<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Daily Activity - Profil Pengguna</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <div id="wrapper">

        <div id="content-wrapper" class="d-flex flex-column">

            <div id="content">

                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Profil Pengguna</h1>
                        <a href="index.html" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
                            <i class="fas fa-arrow-left fa-sm text-white-50"></i> Kembali ke Dashboard
                        </a>
                    </div>
                    

                    <div class="row">

                        <div class="col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 bg-primary">
                                    <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-id-card-alt mr-1"></i> Data Akun</h6>
                                </div>
                                <div class="card-body">
                                    <div class="text-center mb-4">
                                        <img class="img-profile rounded-circle mb-3 border p-1" src="img/undraw_profile.svg" style="max-width: 150px;">
                                        <h4 class="font-weight-bold mb-0">Farhan Pratama Putra</h4>
                                        <p class="text-muted text-small mt-0">IT Support DAC Group</p>
                                    </div>
                                    
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <i class="fas fa-briefcase fa-fw text-primary mr-2"></i> Jabatan :
                                            <span class="float-right text-dark">IT Support</span>
                                        </li>
                                        <li class="list-group-item">
                                            <i class="fas fa-building fa-fw text-primary mr-2"></i> Departemen :
                                            <span class="float-right text-dark">Tim IT</span>
                                        </li>
                                        <li class="list-group-item">
                                            <i class="fas fa-envelope fa-fw text-primary mr-2"></i> Email Kantor :
                                            <span class="float-right text-dark" style="font-size: 0.9rem;">farhan.putra@dacgroup.co.id</span>
                                        </li>
                                        <li class="list-group-item">
                                            <i class="fas fa-phone fa-fw text-primary mr-2"></i> Nomor Kontak :
                                            <span class="float-right text-dark">(+62) 812-3456-7890</span>
                                        </li>
                                    </ul>

                                    <div class="mt-4 text-center">
                                        <button class="btn btn-primary"><i class="fas fa-user-edit mr-1"></i> Edit Profil</button>
                                        <!-- <button class="btn btn-danger ml-2"><i class="fas fa-lock mr-1"></i> Ubah Password</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7">
                            
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-chart-line mr-1"></i> Statistik Kinerja</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row text-center">
                                        <div class="col-md-4 border-right">
                                            <h4 class="font-weight-bold text-success">95%</h4>
                                            <p class="text-xs text-muted mb-0">Tugas Selesai (Bulan Ini)</p>
                                        </div>
                                        <div class="col-md-4 border-right">
                                            <h4 class="font-weight-bold text-info">4.8/5.0</h4>
                                            <p class="text-xs text-muted mb-0">Rata-Rata Kepuasan</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h4 class="font-weight-bold text-warning">2</h4>
                                            <p class="text-xs text-muted mb-0">Hambatan Aktif</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-history mr-1"></i> Aktivitas Terakhir</h6>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span class="text-success"><i class="fas fa-check-circle mr-2"></i> Menginput 5 Aktivitas Harian</span>
                                            <span class="badge badge-success badge-pill">Hari Ini</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span class="text-danger"><i class="fas fa-exclamation-triangle mr-2"></i> Melaporkan Hambatan "Jaringan Lambat"</span>
                                            <span class="badge badge-warning badge-pill">Kemarin</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span class="text-info"><i class="fas fa-tasks mr-2"></i> Menyelesaikan Proyek Server X</span>
                                            <span class="badge badge-info badge-pill">3 Hari Lalu</span>
                                        </li>
                                        <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span class="text-secondary"><i class="fas fa-key mr-2"></i> Mengubah Kata Sandi</span>
                                            <span class="badge badge-secondary badge-pill">1 Bulan Lalu</span>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                </div>
            </div>
        </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="js/sb-admin-2.min.js"></script>

</body>
</html>